# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Next.js build output
.next/
out/

# Production/development env files containing secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.sync

# IDE / Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata files
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# SQLite pgAdmin config
pgadmin4.db

